@media (min-width: 600px) and (max-width: 840px) {
  .col-4 .card-xxl-4 {
    position: relative;
    left: 0;
    padding-left: 0;
    top: 0;
    transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8.8rem;
  }

  .card-xxl-4.small {
    height: 6.4rem;
  }

  .card-xxl-4 .versionInfo {
    position: relative;
    left: 0;
    top: 0;
    text-align: center;
  }

  .xxlAppMargin {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }

  .layout-right {
    position: absolute;
    right: 0rem;
  }

  .card-statusLoading {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 840px) {
  .col-4 .card-xxxl-4 {
    position: relative;
    left: 0;
    padding-left: 0;
    top: 0;
    transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8.8rem;
  }

  .card-xxxl-4.small {
    height: 6.4rem;
  }

  .card-xxxl-4 .versionInfo {
    position: relative;
    left: 0;
    top: 0;
    text-align: center;
  }

  .xxlAppMargin {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }

  .layout-right {
    position: absolute;
    right: 0rem;
  }

  .card-statusLoading {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
