#app {
  width: 100%;
  height: 100%;
  background: #f1f3f5;
  overflow: auto;
  position: relative;
}

#app::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

#app .appMargin {
  /* margin: 0 1.2rem; */
  padding: 0 1.2rem;
  position: relative;
}

.appMargin .pageControl {
  width: 100%;
  height: 100%;
}

.appMargin .pageUpdate {
  width: 100%;
  height: 100%;
}

.backgroundColor {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.tipsWhite {
  position: fixed;
  bottom: 1.6rem;
  width: 94%;
  display: table;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 1.6rem;
  border-radius: 2.4rem;
  background-color: rgba(255, 255, 255, 1);
  -webkit-transform: translateX(3%) translateY(0%);
}

.tipTitle {
  position: relative;
  height: 5.6rem;
  width: 100%;
}

.tipFont1 {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: rgba(0, 0, 0, 0.9);
  font-size: 2rem;
}

.tipFont2 {
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.6rem;
}

.tipFont3 {
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.6rem;
}

.tipFont4 {
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.6rem;
}

.tipsFooter {
  position: relative;
  height: 4rem;
  margin-top: 0.8rem;
  width: 100%;
}

.tipLater {
  position: absolute;
  left: 25%;
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  font-size: 1.6rem;
  color: rgba(10, 89, 247, 1);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.centerLine {
  position: absolute;
  right: 50%;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.2);
}

.tipReconnect {
  position: absolute;
  right: 25%;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  font-size: 1.6rem;
  color: rgba(10, 89, 247, 1);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* ------------标题栏 ------------------*/
.header {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 10;
  top: 0;
  left: 0;
}

.header .iphoneStatus {
  width: 100%;
  height: 2.4rem;
}

.header .devTitle {
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .barLeft {
  width: 4.8rem;
  height: 5.6rem;
  margin-left: 1.2rem;
  display: flex;
}

.barLeft .goApp {
  width: 2.4rem;
  margin-left: 1.2rem;
  margin-top: 1.6rem;
  height: 2.4rem;
}

.header .devTitle .devName {
  flex: 1;
  margin-left: 0.4rem;
  color: rgba(0, 0, 0, 0.9);
  font-size: 2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header .barRight {
  width: 4.8rem;
  height: 4.8rem;
  margin-right: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.barRight .devMore {
  width: 2.4rem;
  height: 2.4rem;
  margin: 1.2rem;
}

/* --------------设备+logo --------------------*/
.devImg {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
}

.devImg .devTop {
  width: 100%;
  height: 8rem;
}

.devImg .deviceImg {
  width: 25.2rem;
  height: 25.2rem;
  align-self: center;
  background: url("../img/light/device.png") no-repeat;
  background-size: cover;
}

/* ------------设备状态 --------------*/
.devStatus {
  /* width: 100%; */
  height: 8.8rem;
  margin-top: 2.8rem;
  position: relative;
  border-radius: 1.6rem;
  background: white;
}

.devStatus .statusLeft {
  position: absolute;
  left: 1.8rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.devStatus .reconnect {
  position: absolute;
  right: 1.6rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 1.4rem;
  color: rgba(10, 89, 247, 1);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 100;
}

.devStatus .batteryInfo {
  display: flex;
  align-items: center;
  position: absolute;
  right: 1.6rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.batteryInfo .batteryImg {
  width: 2.4rem;
  height: 1.4rem;
}

.batteryInfo .batteryNum {
  margin-left: 0.4rem;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.9);
}

.batteryInfo .batteryUnit {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.6);
}

.devStatus .statusLoading {
  position: absolute;
  right: 0.6rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.devStatus .loadingImg {
  width: 4.4rem;
  height: 4.4rem;
}

.devFn {
  width: 100%;
  height: 6.4rem;
  margin-top: 1.2rem;
  position: relative;
  border-radius: 1.6rem;
  background: white;
}

.devFn .updateTextItem {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.6rem;
  height: 6.4rem;
}

.devFn .firmwareUpdate {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.9);
}

.devFn .firmwareVersion {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.6);
}

.devFn .updateImg {
  width: 2.4rem;
  height: 2.4rem;
}

.devFn .updateImgItem {
  position: relative;
}

.devFn .firmwarePoint {
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  top: 0;
  right: -0.3rem;
  z-index: 10;
}

.devFn .updateIcon {
  position: absolute;
  right: 1.6rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* --------------升级圆圈 --------------------*/
.topImg {
  /* width: 100%; */
  min-height: 28.8rem;
  display: flex;
  margin-top: 8rem;
  justify-content: center;
}

.topImg .progress-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25.2rem;
  height: 25.2rem;
  margin-top: 1.8rem;
}

@media (min-width: 600px) and (max-width: 840px) {
  .topImg .progress-wrap {
    width: 33.2rem;
    height: 33.2rem;
  }
}

.topImg .progressContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3.3rem solid #00000008;
  border-radius: 50%;
}

.topImg .progress-circle {
  width: 100%;
  height: 100%;
  position: absolute;
}

.topImg .updateCircleImg {
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topImg .arrowTop {
  width: 4.2rem;
  height: 4.2rem;
  /* margin-top: 9.5rem; */
}

.topImg .mainVersion {
  font-size: 1.6rem;
  margin-top: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
  text-overflow: ellipsis;
}

.topImg .statusProgress {
  margin-top: 7rem;
}

.topImg .statusProgress .text1 {
  font-size: 6rem;
  color: rgba(0, 0, 0, 0.9);
  display: inline-block;
  text-overflow: ellipsis;
}

.topImg .statusProgress .text2 {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 0.2rem;
  margin-bottom: 1.2rem;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* ------------升级状态 --------------*/

.updateStatus {
  width: 100%;
  margin-top: 2.4rem;
  position: relative;
  text-align: center;
  z-index: 210;
}

.updateStatus .mainStatus {
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.devInfo {
  width: 100%;
  height: 8.6rem;
  margin-top: 3.2rem;
  border-radius: 1.6rem;
  background-color: white;
  position: relative;
}

.devInfo .versionInfo {
  position: absolute;
  left: 1.2rem;
  display: flex;
  flex-direction: column;
  height: 8.8rem;
  justify-content: center;
}

.devInfo .versionTitle {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.devInfo .firmwarePoint2 {
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  top: 2.4rem;
  right: -1rem;
}

.devInfo .versionNumber {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.devInfo .versionSize {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bottomButton {
  width: 50%;
  height: 4rem;
  position: fixed;
  bottom: 2.4rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 1);
  border-radius: 100rem;
  background: rgba(10, 89, 247, 1);
  text-align: center;
  padding-top: 0.8rem;
  z-index: 300;
}

@media (min-width: 600px) and (max-width: 840px) {
  .bottomButton {
    width: 37.5%;
  }
}

.bottomButton:active {
  width: 50%;
  height: 4rem;
  position: fixed;
  bottom: 2.4rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 1);
  border-radius: 100rem;
  background: rgba(10, 89, 247, 0.4);
  text-align: center;
  padding-top: 0.8rem;
}

.topImg div.progress-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  z-index: 200;
}

div.progress-circle.blue {
  background: transparent;
  border: 2.4rem solid #f1f3f5;
  transform: scale(1.23);
}

div.progress-circle.white {
  background: #f1f3f5;
  transform: scale(0.81);
}

/* div.progress-circle.rect {
  background: red;
  border-radius: 0;
  width: 12.6rem;
  height: 12.6rem;
  left: 50%;
  margin-top: 1.8rem;
  opacity: 0.7;
  transform: skewY(70deg);
  transform-origin: 0 100%;
} */

.body {
  overflow: hidden;
}
